<html>
    <head>
        <title>Egor</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Egor</a></h1>
        </div>

        <div>
            <p>опубликованно: 08.05.2018, 17:03</p>
            <h2><a href="">Первый пост</a></h2>
            <p>Поезд - в современном понятии жто сформированный и сцепленный состав состоящий из группы вагонов, с одним или несколькими действующими локомотивами или моторными вагонами.</p>
        </div>

        <div>
            <p>опубликованно: 08.05.2018, 17:09</p>
            <h2><a href="">Второй пост</a></h2>
            <p>Страна - территория, имеющая политические, фихико-географические,культурные или исторические границы, которые могут быть как четко определенными и зафиксированными, так и размытими.</p> 
            <p>опубликованно: 14.06.2014, 12:14</p>
        </div>
    </body>
</html>


